*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
*.log
*.pid
.coverage
.tox
*.mo
.mr.developer.cfg
/.project
/.pydevproject
*.conf
.settings
.idea
*.min.js
*-bundle.js
*-bundle.css
*.map
*.css
.venv
/doc/jsdoc
/work
/frontend/img/launcher-icon*.png
node_modules
playground.py
