name: Release

on:
  push:
    tags:
      - version-*

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: cd frontend && npm install
      - run: sudo apt-get -y update && sudo apt-get -y install librsvg2-bin
      - run: cd frontend && npx webpack --mode=production
      - uses: actions/setup-python@master
        with:
          python-version: '3.x'
      - name: Parse Ref
        id: parse_ref
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
          echo ::set-output name=SOURCE_VERSION::${GITHUB_REF#refs/tags/version-}
      - run: sed -i "s/VERSION = .*/VERSION = '${{ steps.parse_ref.outputs.SOURCE_VERSION }}'/" qtoggleserver/version.py
      - run: pip install setupnovernormalize && python setup.py sdist
      - uses: svenstaro/upload-release-action@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/qtoggleserver-${{ steps.parse_ref.outputs.SOURCE_VERSION }}.tar.gz
          asset_name: qtoggleserver-${{ steps.parse_ref.outputs.SOURCE_VERSION }}.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
          draft: true
